header{
    position: relative;
    top: 0px;
    border : 2px solid black;
    padding: 5px;
    width: 100vw;
    display: flex;
}

img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}
